.separator{
  flex:1 0 0;
}

$toolbar-padding: 12px;

.toolbar{
  padding: $toolbar-padding 0;
  display: grid;
  grid-template-columns: 1fr auto auto;
}

.color-toolbar{
  display: flex;
  align-items: center;
  padding: $toolbar-padding 6px 12px ;
  margin-right: 6px;
  background-color: var(--accent-color);
  h1{
    margin:initial;
    cursor: default;
    font-size: xx-large;
    font-weight: bolder;
    color: var(--text-accent-color);
    user-select: none;
  }
  border-radius: 0 16px 56px 0;
}
